---
layout: general
title: Search Best Practice. In a Box.
bodyId: home
---

{% for post in site.categories.blog %}
	<article>
		<header>
			<img src="/blog/images/{{ post.ISBN-13 }}-a.jpg" width="830" height="300" />
			<p class="on">Reviewed on {{ post.date | date: "%B %d, %Y" }}</p>
			<p class="rating">{{ post.rating }}</p>
			<h2>{{ post.title }}</h2>
			<p class="by">
				{% if post.author == post.illustrator %}
					<span class="author">Written &amp; Illustrated by {{ post.author }}</span>
				{% else %}
					<span class="author">Written by {{ post.author }},</span>
					<span class="illustrator">illustrated by {{ post.illustrator }}</span>
				{% endif %}
			</p>
		</header>
		<section class="content">
			{{ post.content }}
			
			<section class="details">
				<figure class="cover">
					<img src="/blog/images/{{ post.ISBN-13 }}-b.jpg" width="140" />
					<p>
						<strong>View on:</strong><br/>
						<a href="{{ post.amazonus }}">Amazon.com</a><br/>
						<a href="{{ post.amazonuk }}">Amazon.co.uk</a>
					</p>
				</figure>
				
				<ul>
					<li>
						<h4>Minimum age:</h4>
						<p>{{ post.age }}</p>
					</li>
					<li>
						<h4>Reading time:</h4>
						<p>{{ post.time }}</p>
					</li>
					<li>
						<h4>Book format:</h4>
						<p>{{ post.format }}</p>
					</li>
					<li>
						<h4>Writing style:</h4>
						<p>{{ post.style }}</p>
					</li>
					<li>
						<h4>Year of Publication:</h4>
						<p>{{ post.published }}</p>
					</li>
					<li>
						<h4>Illustration Rating:</h4>
						<p>{{ post.illustrationrating }} out of 5</p>
					</li>
					<li>
						<h4>Story Rating:</h4>
						<p>{{ post.storyrating }} out of 5</p>
					</li>
					<li>
						<h4>Moral Rating:</h4>
						<p>{{ post.moralrating }} out of 5</p>
					</li>
					<li>
						<h4>Overall Rating:</h4>
						<p>{{ post.rating }} out of 5</p>
					</li>
				</ul>
			</section>
		</section>
	</article>
{% endfor %}