---
layout: general
title: Search Best Practice. In a Box.
bodyId: home
---

{% for post in site.categories.blog %}
	<article>
		<header>
			<img src="{{ post.image }}" />
			<p class="on">Reviewed on {{ post.date | date: "%B %d, %Y" }}</p>
			<p class="rating">5</p>
			<h2>{{ post.title }}</h2>
			<p class="by">
				{% if post.author == post.illustrator %}
					<span class="author">Written &amp; Illustrated by {{ post.author }}</span>
				{% endif %}
				<span class="author">Written by {{ post.author }},</span>
				<span class="illustrator">illustrated by {{ post.illustrator }}</span>
			</p>
		</header>
		<section class="content">
			{{ post.content }}
			
			<ul class="details">
				<li>
					<h4>Minimum age:</h4>
					<p>{{ post.age }}</p>
				</li>
				<li>
					<h4>Reading time:</h4>
					<p>{{ post.time }}</p>
				</li>
				<li>
					<h4>Book format:</h4>
					<p>{{ post.format }}</p>
				</li>
				<li>
					<h4>Writing style:</h4>
					<p>{{ post.style }}</p>
				</li>
				<li>
					<h4>Year of Publication:</h4>
					<p>{{ post.published }}</p>
				</li>
				<li>
					<h4>Illustration Rating:</h4>
					<p>{{ post.illustrationrating }}</p>
				</li>
				<li>
					<h4>Story Rating:</h4>
					<p>{{ post.storyrating }}</p>
				</li>
				<li>
					<h4>Moral Rating:</h4>
					<p>{{ post.moralrating }}</p>
				</li>
			</ul>
		</section>
	</article>
{% endfor %}