@import '_grid.less';
@import '_mixins.less';

///////////
// reset //
///////////

* { margin: 0; padding: 0; }
a img, form, fieldset { border: none; }
p { margin-bottom: 20px; }
nav, aside, header, article, section, footer { display: block; }


//////////
// type //
//////////

body {
	font-family: Georgia;
}
h1,h2,h3,h4,h5 {
	font-family: sans-serif;
}


///////////
// layout //
///////////

body {
	border-top: 5px solid #ccc;
}

#mainbody {
	.row;
	width: 1080px;
	margin: 0 auto;
	padding: 3em 0;
	
	#sidebar {
		.grid(4);
		
		h1 {
			width: 9em;
			padding: 1.875em 0;
			font: italic normal normal 1.75em/1.75em Georgia, serif;
			text-align: center;
			color: white;
			background-color: red;
			-webkit-transform: rotate(-10deg);
			.rounded-corners(4.5em);
		}
		
	}
	#content {
		.grid(8);
	}
}