body {
  padding: 0 1.3888888888888888%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia;
}
body {
  border-top: 5px solid #ccc;
}
#mainbody {
  overflow: hidden;
  width: 102.77777777777777%;
  margin: 0 -1.3888888888888888%;
  width: 1080px;
  margin: 0 auto;
  padding: 2em 0;
}
#mainbody #sidebar {
  overflow: hidden;
  float: left;
  width: 30.555555555555557%;
  margin: 0 1.3888888888888888%;
  _display: inline;
}
#mainbody #sidebar h1 {
  color: white;
  background-color: red;
  width: 250px;
  height: 150px;
  padding: 50px 0;
  line-height: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 1.25em;
  border-radius: 125px;
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
}
#mainbody #content {
  overflow: hidden;
  float: left;
  width: 63.888888888888886%;
  margin: 0 1.3888888888888888%;
  _display: inline;
}
