@import '_grid.less';
@import '_mixins.less';

///////////
// reset //
///////////

* { margin: 0; padding: 0; }
a img, form, fieldset { border: none; }
p { margin-bottom: 20px; }
nav, aside, header, article, section, footer { display: block; }


//////////
// type //
//////////

body {
	font-family: sans-serif;
}
h1,h2,h3,h4,h5 {
	font-family: Georgia;
}


///////////
// layout //
///////////

#mainbody {
	.row;
	width: 1080px;
	margin: 0 auto;
	padding: 2em 0;
	
	#sidebar {
		.grid(4);
		
		h1 {
			color: white;
			background-color: red;
			width: 250px;
			height: 250px;
			line-height: 250px;
			text-align: center;
			font-weight: normal;
			font-size: 1.25em;
			.rounded-corners(125px);
		}
		
	}
	#content {
		.grid(8);
	}
}