@import '_grid.less';
@import '_mixins.less';

///////////
// reset //
///////////

* { margin: 0; padding: 0; }
a img, form, fieldset { border: none; }
p { margin-bottom: 20px; }
nav, aside, header, article, section, footer { display: block; }


//////////
// type //
//////////

body {
	font-family: Georgia;
}
article header {
	font-family: sans-serif;
}


////////////
// layout //
////////////

body {
	border-top: 5px solid #ccc;
}

#mainbody {
	.row;
	width: 1080px;
	margin: 0 auto;
	padding: 3em 0;
	
	#sidebar {
		.grid(4);
		
		h1 {
			width: 9em;
			padding: 1.875em 0;
			font: italic normal normal 1.75em/1.75em Georgia, serif;
			text-align: center;
			color: white;
			background-color: #00cccc;
			-webkit-transform: rotate(-10deg);
			.rounded-corners(4.5em);
		}
		
	}
	#content {
		.grid(8);
	}
}


////////////
// review //
////////////

article {
	padding-left: 2.5em;
	
	header {
		margin-bottom: 1em;
		
		p {
			margin: 0;
			color: #666;
		}
	
		p.rating {
			float: left;
			width: 1.4em;
			height: 1.4em;
			margin-left: -1.66em;
			
			font-size: 1.5em;
			line-height: 1em;
			font-family: Georgia;
			color: white;
			background-color: #00cccc;
			text-align: center;
			.rounded-corners(0.875em);
		}
		p.on {
			font-size: 0.8em;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		h2 {
			font-size: 1.75em;
		}
	}
	section {
		p {
			line-height: 1.3em;
			color: #333;
		}
	}
}