body {
  padding: 0 1.0416666666666665%;
  margin: 0;
}
/* ========= */
/* = reset = */
/* ========= */
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
