body {
  padding: 0 1.3888888888888888%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  font-family: Georgia;
}
h1,
h2,
h3,
h4,
h5,
article header {
  font-family: sans-serif;
}
body {
  border-top: 5px solid #ccc;
}
#mainbody {
  overflow: hidden;
  width: 102.77777777777777%;
  margin: 0 -1.3888888888888888%;
  width: 1080px;
  margin: 0 auto;
  padding: 3em 0;
}
#mainbody #sidebar {
  overflow: hidden;
  float: left;
  width: 30.555555555555557%;
  margin: 0 1.3888888888888888%;
  _display: inline;
}
#mainbody #sidebar h1 {
  width: 9em;
  padding: 1.875em 0;
  font: italic normal normal 1.75em/1.75em Georgia, serif;
  text-align: center;
  color: white;
  background-color: #00cccc;
  -webkit-transform: rotate(-10deg);
  border-radius: 4.5em;
  -moz-border-radius: 4.5em;
  -webkit-border-radius: 4.5em;
}
#mainbody #content {
  overflow: hidden;
  float: left;
  width: 63.888888888888886%;
  margin: 0 1.3888888888888888%;
  _display: inline;
}
article header {
  overflow: hidden;
  margin-bottom: 1em;
}
article header p {
  margin: 0;
  color: #666;
}
article header .on {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
article header h2 {
  font-size: 1.75em;
}
article header p.author {
  float: left;
  margin-right: 20px;
}
article header p.illustrator {
  float: left;
}
article section p {
  line-height: 1.3em;
  color: #333;
}
