body {
  padding: 0 0.5952380952380952%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  font-family: Georgia;
}
a {
  color: #0CC;
}
body {
  border-top: 5px solid #ccc;
}
#mainbody {
  overflow: hidden;
  width: 100.89285714285714%;
  margin: 0 -0.4464285714285714%;
  width: 1120px;
  margin: 0 auto;
  padding: 3em 0;
}
#mainbody #sidebar {
  overflow: hidden;
  float: left;
  width: 24.107142857142858%;
  margin: 0 0.4464285714285714%;
  _display: inline;
}
#mainbody #sidebar a#logo {
  text-decoration: none;
  color: white;
}
#mainbody #sidebar h1 {
  width: 8em;
  margin: 0 auto 1.5em auto;
  padding: 1.75em 0;
  font: italic normal normal 1.75em/1.5em Georgia, serif;
  text-align: center;
  color: white;
  background-color: #00cccc;
  -webkit-transform: rotate(-10deg);
  border-radius: 4.5em;
  -moz-border-radius: 4.5em;
  -webkit-border-radius: 4.5em;
}
#mainbody #sidebar p.tagline {
  color: #999;
  font-size: 1.1em;
  line-height: 2.25em;
  padding: 0.66em;
  margin-bottom: 1.7em;
  font-style: italic;
  text-align: center;
}
#mainbody #sidebar p.action, #mainbody #sidebar p.tylertate {
  font-size: 0.9em;
  font-family: sans-serif;
  color: #999;
  text-align: center;
}
#mainbody #sidebar p.action a, #mainbody #sidebar p.tylertate a {
  color: #999;
}
#mainbody #sidebar p.tylertate {
  margin-top: 2.75em;
}
#mainbody #sidebar form {
  text-align: center;
}
#mainbody #content {
  overflow: hidden;
  float: left;
  width: 74.10714285714286%;
  margin: 0 0.4464285714285714%;
  _display: inline;
}
footer {
  overflow: hidden;
  width: 100.89285714285714%;
  margin: 0 -0.4464285714285714%;
  height: 150px;
  background-color: #e9e9e9;
}
article {
  margin: 0 16.6% 4em 8.3%;
}
article header {
  margin-bottom: 1.5em;
  font-family: sans-serif;
}
article header img {
  margin: 0 0 1.5em -11%;
}
article header p {
  margin: 0;
  color: #666;
}
article header p.rating {
  float: left;
  width: 1.4em;
  height: 1.4em;
  margin-left: -1.75em;
  font-size: 1.5em;
  line-height: 1em;
  font-family: Georgia;
  color: white;
  background-color: #00cccc;
  text-align: center;
  border-radius: 0.875em;
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
}
article header p.on {
  margin-bottom: 1em;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
}
article header h2 {
  margin: 0 0 0.05em 0;
  font-family: Georgia;
  font-size: 2em;
  font-style: italic;
}
article header h2 a {
  color: black;
  text-decoration: none;
}
article header h2 a:hover {
  color: #00cccc;
}
article header p.by {
  font-size: 0.95em;
}
article section p {
  line-height: 1.3em;
  color: #333;
}
article section .details {
  overflow: hidden;
  width: 101.19047619047619%;
  margin: 0 -0.5952380952380952%;
}
article section .details figure {
  overflow: hidden;
  float: left;
  width: 23.809523809523807%;
  margin: 0 0.5952380952380952%;
  _display: inline;
}
article section .details ul {
  border-top: 1px dotted #CCC;
  overflow: hidden;
  float: left;
  width: 73.80952380952381%;
  margin: 0 0.5952380952380952%;
  _display: inline;
}
article section .details ul li {
  display: block;
  overflow: hidden;
  list-style: none outside none;
  border-bottom: 1px dotted #CCC;
  padding: 0.25em 0;
}
article section .details ul li h4, article section .details ul li p {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  color: #666;
}
article section .details ul li h4 {
  width: 33%;
  font-weight: normal;
  color: #333;
}
article section p#back {
  margin-bottom: 0.5em;
  margin-top: 2em;
}
article section .comments {
  margin-bottom: -2em;
}
