<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="alternate" type="application/rss+xml" title="The TwigKit Blog — the user experience of search and the technology driving it." href="http://feeds.feedburner.com/TwigKit" />
	<meta name="description" content="TwigKit is an easy-to-use toolkit that enables any web designer to quickly build full-featured search applications that look and feel great."/>
	<title>Children's Literature Review</title>

	{% include head.html %}
</head>

<body>

	<div id="mainbody">
		
		<div id="sidebar">
			<h1>Children's<br/>Literature<br/>Review</h1>
		</div>
		
		<div id="content">
			{{ content }}
		</div>
		
	</div>

	<footer>
		
	</footer>

</body>
</html>